body{
    background-color: rgb(29, 29, 29) !important;
}

#black{
    background-color: #343a40!important;
    padding-right: 25px;
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #ffffff;
    -webkit-border-radius: 6px;
  }

.nav-link{
    color: white!important;
    font-size: 16pt!important;
}

.nav-link:hover{
    color: #004a6f!important;
    font-size: 16pt!important;
}

.dropdown-menu{
    background-color: #343a40!important;
}

.dropdown-item{
    color: white!important;
    background-color: transparent!important;
}

.dropdown-item:hover{
    color: #004a6f!important;
    background-color: transparent!important;
}

.central-box{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow{
    color: white;
}

.btn-buscar{
    background-color: #004a6f;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}

.btn-buscar:hover{
    background-color: white;
    color: #004a6f;
    font-weight: 700;
}


form{
    margin-top: 10px;
    background-color: rgba(110, 110, 110, 0.582);
    padding: 10px;
    border-radius: 8px;
    width: 80%;
}

form label{
    color: white;
}

form option{
    color: black;
}


@media (max-width: 600px) 
{
    h2{
        font-size: 20pt;
        text-align: center;
    }

    .card{
        margin-top: 20px;
    }
}