body{
    background-color: rgb(58, 58, 58) !important;
}

#black{
    background-color: #343a40!important;
    padding-right: 25px;
    color: white;
}

html {
    scroll-behavior: smooth;
}

header, .divisor{
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center;
}

.divisor{
    margin-top: 20px;
    height: 90vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    background-color: #ffef14;
    -webkit-border-radius: 6px;
  }

.nav-link{
    color: white!important;
    font-size: 16pt!important;
}

.nav-link:hover{
    color: #036494!important;
    font-size: 16pt!important;
}

.dropdown-menu{
    background-color: #343a40!important;
}

.dropdown-item{
    color: white!important;
    background-color: transparent!important;
}

.dropdown-item:hover{
    color: #004a6f!important;
    background-color: transparent!important;
}

.central-box{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow{
    color: white;
}

.btn-buscar{
    background-color: #004a6f;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}

.btn-buscar:hover{
    background-color: white;
    color: #004a6f;
    font-weight: 700;
}

.btn-more{
    background-color: #004a6f;
    color: white;
    font-weight: 700;
    width: 100%;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-more:hover{
    background-color: white;
    color: #004a6f;
    font-weight: 700;
}
form{
    margin-top: 10px;
    background-color: rgba(110, 110, 110, 0.678);
    padding: 10px;
    border-radius: 8px;
    width: 80%;
}

form label{
    color: white;
}

form option{
    color: black;
}


@media (max-width: 600px) 
{
    h2{
        font-size: 20pt;
        text-align: center;
    }

    .card{
        margin-top: 20px;
    }

    form{
        width: 100%;
    }

    header, .divisor{
        height: 110vh;
        background-image: url(../img/bg.png);
        background-size: cover;
        background-position: center;
    }
}